/Part5-1-JS-기본문법/.cache
/Part5-1-JS-기본문법/dist
/Part5-1-JS-기본문법/node_modules
/Part5-2-JS-데이터실습/.cache
/Part5-2-JS-데이터실습/dist
/Part5-2-JS-데이터실습/node_modules
/Part5-3-JS-정규표현식/.cache
/Part5-3-JS-정규표현식/dist
/Part5-3-JS-정규표현식/node_modules